<div class="container-fluid" >
  <h1> Este es mi primer intento de app con sinatra!  <i class="fa fa-rocket"></i> </h1>
  <div class="row">
    <div class="col-md-5">
    <img src="https://i.pinimg.com/originals/f3/9a/73/f39a7350a584db86cfbf899cbd427895.jpg" alt="chuwacca" class="img-thumbnail" style="width:300px;height:300px;margin:20px">
    </div>
    <div class="col-md-5">
        <h3>El sabio chewie dijo un dia  "<%= @chewie%>"</h3>
    </div>
</div>
